# Module 12 Homework — Lists (1D + Nested Lists)

**Name**: Esther Arazi

**Instructions**
- Complete each cell below.
- Write clear, readable code.
- Use comments where appropriate.
- Do **not** use global variables.
- Avoid shallow vs deep copy concepts for this assignment.

## Part A — 1D Lists: Creating, Accessing, Updating

### A1. Create a list
Create a list named `favorites` with **5 strings**.

Print:
1. The entire list
2. The first element
3. The last element

In [ ]:
# TODO: Write your code here
favorites = ['art','guitar playing', 'MCON 141','reading', 'programming']
print('Whole List:',favorites)
print('First Element:',favorites[0])
print('Last Element:', favorites[4])

Whole List: ['art', 'guitar playing', 'MCON 141', 'reading', 'programming']
First Element: art
Last Element: programming

### A2. Update by index
Replace the **second** element in the list with a new string.
Print the updated list.

In [ ]:
# TODO: Write your code here
favorites[1] = 'skating'
print('New list:', favorites)

New list: ['art', 'skating', 'MCON 141', 'reading', 'programming']

### A3. Slicing practice
Given:
```python
nums = [10, 20, 30, 40, 50, 60, 70]
```
Print:
1. The first 3 elements
2. The last 3 elements
3. Every other element

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70]
# TODO: slicing practice
print('Slice first 3 elements:', nums[:3])
print('Slice last 3 elements:', nums[-3:]) #could do nums[4:]
print('Slice every other elements:', nums[::2])

Slice first 3 elements: [10, 20, 30]
Slice last 3 elements: [50, 60, 70]
Slice every other elements: [10, 30, 50, 70]

## Part B — Looping Through 1D Lists

### B1. Sum accumulator
Using a loop, compute and print the **sum** of:
```python
numbers = [4, 7, 2, 9, 5]
```

In [ ]:
numbers = [4, 7, 2, 9, 5]
# TODO: compute and print the sum
for num in numbers:
  total = sum(numbers)

print('Sum:', total)

Sum: 27

### B2. Filtering values
Using a loop, build a list called `evens` that contains only the **even numbers**.
Print the list.

In [ ]:
numbers = [3, 10, 7, 8, 12, 5]
# TODO: build evens list
evens = []

for num in numbers:
  if num % 2 == 0:
    evens.append(num)
print("Even Numbers:", evens)

Even Numbers: [10, 8, 12]

## Part C — Functions with 1D Lists

### C1. Function that returns a list
Write `double_values(lst)` that returns a **new list** with each value doubled.
Call the function and print the result.

In [ ]:
# TODO: Write your function and test it
nums = [1, 3, 5, 12, 4]
lst = []
def double_values(lst):
  for num in nums:
    double = num * 2
    lst.append(double)
    print("Doubled:", lst)

double_values(lst)

Doubled: [2]
Doubled: [2, 6]
Doubled: [2, 6, 10]
Doubled: [2, 6, 10, 24]
Doubled: [2, 6, 10, 24, 8]

## Part D — Nested Lists: Creating and Looping

### D1. Create a nested list
Create a nested list named `grid` that represents:
```
1 2 3
4 5 6
7 8 9
```

In [1]:
# TODO: Create the nested list
grid = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### D2. Loop row by row
Print each row of the grid.

In [2]:
# TODO: Loop row by row
for lst in grid:
  print(lst)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### D3. Loop through all values
Using nested loops, print each value.

In [ ]:
# TODO: Loop through all values
for lst in grid:
  for num in lst:
    print(num, end = ' ')

1 2 3 4 5 6 7 8 9

### D4. Row sums
Create a list `row_sums` with the sum of each row.
Print the list.

In [ ]:
# TODO: Compute row sums
row_sums = []
for lst in grid:
   total = sum(lst)
   row_sums.append(total)
print("Row Totals:", row_sums)

Row Totals: [6, 15, 24]

## Part E — File I/O with 1D Lists

### E1. Write a list to a file
Create a list of **at least 4 strings**.
Write each item to `items.txt`, one per line.

In [5]:
# TODO: Write list to file
names = ['Gail', 'Hannah', 'Sarah', 'Rivka']

with open('item.txt', 'w') as f:
  for name in names:
    f.write(name)

print('Wrote "names" list in "item.txt"')

Wrote "names" list in "item.txt"

### E2. Read from a file into a list
Read `items.txt` into a list named `items_from_file`.
Print the list.

In [53]:
# TODO: Read file into list
with open('item.txt', 'r') as f:
 for name in names:
  name = name.strip('/n')

print('Read "names" list in "item.txt"')
print('Names:', names)

Read "names" list in "item.txt"
Names: ['Gail', 'Hannah', 'Sarah', 'Rivka']

## Part F — Programming Problems (More Serious)
Complete **at least 4** of the problems below (your instructor may specify which ones to do). These problems are designed to combine lists, loops, functions, and file I/O.

**Rules:**
- Use functions (separation of concerns)
- Do not use global variables
- No shallow/deep copy discussion needed

### F1. Shopping List Manager (1D list + functions) (Suggested)
Write a program that maintains a shopping list (a 1D list of strings).

**Required functions:**
- `add_item(items, item)`
- `remove_item(items, item)` (remove by value if present)
- `print_items(items)` (numbered list)
- `save_items(items, filename)` (one item per line)
- `load_items(filename)` (returns a list)

**Program behavior:**
Provide a simple text menu in a loop:
1) add  2) remove  3) view  4) save  5) load  6) quit
The list should update as the user makes choices.

In [38]:
# TODO: Implement F1 here

def add_item(items, item):
  items.append(item)
  return items

def remove_item(items, item):
  if item in items:
    items.remove(item)
  return items

def print_items(items):
  if not items:
    print("The shopping list is empty.")

  for i, item in enumerate(items, start=1):
      print(f"{i}. {item}")

def save_items(items, filename):
  with open(filename, 'w') as f:
    for item in items:
      f.write(item + '\n') # Added newline character

def load_items(filename): # Corrected function name
  items = []
  try:
      with open(filename, "r") as file:
          for line in file:
              items.append(line.strip())
      return items
  except FileNotFoundError:
      print("File not found.")
      return []

def main():

  items = []

  while True:
    print('\nShopping List Menu:')
    print('--------------------')
    print('1. Add Item\n2. Remove Item\n3. View List\n4. Save List')
    print('5. Load List\n6. Quit\n')

    user_input = input('Please insert a number between 1 to 6 to edit, view, and save your list. ')

    if user_input == "1":
            item = input("Enter item to add: ")
            items = add_item(items, item)

    elif user_input == "2":
        item = input("Enter item to remove: ")
        items = remove_item(items, item)

    elif user_input == "3":
        print_items(items)

    elif user_input == "4":
        filename = input("Enter filename to save to (Name the file): ")
        save_items(items, filename)

    elif user_input == "5":
        filename = input("Enter filename to load from: ")
        items = load_items(filename)

    elif user_input == "6":
        print('\nHere is your finished list:')
        print_items(items)

        break

    else:
      print('Invalid input. Please input the given choices.')



main()

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 5
Enter filename to load from: shopping.txt

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 3
1. apples
2. flour
3. sugar
4. brown sugar

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 4
Enter filename to save to (Name the file): shopping.txt

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 5
Enter filename to load from: shopping_list.txt

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 3
1. apples
2. cherries

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 1
Enter item to add: bananas

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 1
Enter item to add: pears

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 2
Enter item to remove: cherries

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 3
1. apples
2. bananas
3. pears

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 4
Enter filename to save to (Name the file): shoppping_list.txt

Shopping List Menu:
--------------------
1. Add Item
2. Remove Item
3. View List
4. Save List
5. Load List
6. Quit

Please insert a number between 1 to 6 to edit, view, and save your list. 6

Here is your finished list:
1. apples
2. bananas
3. pears

### F2. Grade Statistics (1D list of numbers + file input)
You will read a file of grades (one number per line) into a 1D list, then compute statistics.

**Requirements:**
- Read `grades.txt` into a list `grades`
- Compute and print: count, min, max, average
- Create a new list `curved` that adds +5 to each grade (cap at 100)
- Write `curved` to `curved_grades.txt` (one per line)

**If you don't have a `grades.txt` file, create one in code first** (write 8–12 sample grades).

In [57]:
# TODO: Implement F2 here
def grades_calc():

  grades = [66, 96, 86, 72, 83, 91, 65, 79, 98]

  with open('grades.txt', 'w') as f:
    for grade in grades:
      f.write(str(grades) + '\n')

  with open('grades.txt', 'r') as f:
    for grade in range(len(grades)):
      grades[grade] = int(grades[grade])

    print('Original Grades:', grades)

    min_grade = min(grades)
    max_grade = max(grades)
    total = len(grades)
    avg = sum(grades)/total

    print('Minimum:', min_grade)
    print('Maximum:', max_grade)
    print('Total:', total)
    print(f'Average:{avg:.2f}')

  with open('cureved_grades.txt', 'w') as f:
    curved = []
    for grade in grades:
        if grade <= 95:
           grade += 5
           curved.append(grade)
        else:
          grade = 100
          curved.append(grade)

    for grade in grades:
      f.write(str(curved) + '\n')

  with open('cureved_grades.txt', 'r') as f:
    for grade in range(len(grades)):
      grades[grade] = int(grades[grade])

    print('Curved Grades:', curved)

grades_calc()

Original Grades: [66, 96, 86, 72, 83, 91, 65, 79, 98]
Minimum: 65
Maximum: 98
Total: 9
Average:81.78
Curved Grades: [71, 100, 91, 77, 88, 96, 70, 84, 100]

### F3. Word Cleaner (file → 1D list → processing → file)
Read a text file (e.g., `paragraph.txt`) and build a 1D list of cleaned words.

**Requirements:**
- Read the file as text
- Convert to lowercase
- Remove punctuation characters like `. , ! ? ; :` (you may replace them with spaces)
- Split into words and store in a list `words`
- Build a list `long_words` containing only words with length ≥ 6
- Write `long_words` to `long_words.txt`, one per line

**If you don't have a `paragraph.txt`, create one in code first** (write 2–4 sentences).

In [39]:
# TODO: Implement F3 here
 #Excerpt of "Pride and Predjudice"
 #By: Jane Austen
paragraph = '''Vanity and pride are different things, though the words are
often used synonymously. A person may be proud without being vain. Pride
relates more to our opinion of ourselves, vanity to what we would have others
think of us.'''

print('Original Paragraph:', paragraph)

with open('paragraph.txt', 'w') as f:
   for line in paragraph:
     f.write(line)

with open('paragraph.txt', 'r') as f:
  paragraph = paragraph.lower()

  for ch in '. , ! ? ; :':
    paragraph = paragraph.replace(ch, " ")

  print('\nParagraph:', paragraph)

  words = paragraph.split()

  print('\nWords:', words)

  long_words = [word for word in words if len(word) >= 6]

with open('long_words.txt', 'w') as f:
   for word in long_words:
     f.write(word)

with open('long_words.txt', 'r') as f:
  for line in paragraph:
    line = line.strip()
  print('\n"long_words" list:', long_words)

Original Paragraph: Vanity and pride are different things, though the words are
often used synonymously. A person may be proud without being vain. Pride
relates more to our opinion of ourselves, vanity to what we would have others
think of us.

Paragraph: vanity and pride are different things  though the words are
often used synonymously  a person may be proud without being vain  pride
relates more to our opinion of ourselves  vanity to what we would have others
think of us

Words: ['vanity', 'and', 'pride', 'are', 'different', 'things', 'though', 'the', 'words', 'are', 'often', 'used', 'synonymously', 'a', 'person', 'may', 'be', 'proud', 'without', 'being', 'vain', 'pride', 'relates', 'more', 'to', 'our', 'opinion', 'of', 'ourselves', 'vanity', 'to', 'what', 'we', 'would', 'have', 'others', 'think', 'of', 'us']

"long_words" list: ['vanity', 'different', 'things', 'though', 'synonymously', 'person', 'without', 'relates', 'opinion', 'ourselves', 'vanity', 'others']

### F4. Seating Chart (nested list) (2D list + loops + functions)
Create a seating chart using a nested list (list of rows).

**Requirements:**
- Build a 4×5 chart filled with the string `"EMPTY"`
- Write a function `assign_seat(chart, row, col, name)` that places a name
- Write a function `print_chart(chart)` that prints each row neatly
- Assign at least 6 names to different seats
- Count how many seats are still `"EMPTY"` and print that number

**Optional extension:** Write the seating chart to a file (one row per line).

In [41]:
# TODO: Implement F4 here
#import random

row = 4
col = 5

count = 0

chart = [['EMPTY' for _ in range(col)] for _ in range(row)]

def assign_seat(chart, row, col, name):
  chart[row][col] = name

def print_chart(chart):
  for row in chart:
    print(row)

assign_seat(chart, 3, 2, 'Sara')
assign_seat(chart, 1, 3, 'Leah')
assign_seat(chart, 0, 1, 'Aviva')
assign_seat(chart, 3, 4, 'Amy')
assign_seat(chart, 1, 0, 'Frieda')
assign_seat(chart, 2, 2, 'Esther')
assign_seat(chart, 3, 0, 'Michelle')
assign_seat(chart, 3, 3, 'Kayla')
assign_seat(chart, 2, 1, 'Ruchama')
assign_seat(chart, 1, 2, 'Deborah')

print_chart(chart)

for row in chart:
  for seat in row:
    if seat == 'EMPTY':
      count += 1

print('\nEmpty Seat Count: ', count)

with open('seating_chart.txt', 'w') as f:
    for row in chart:
        f.write(str(row) + '\n')

['EMPTY', 'Aviva', 'EMPTY', 'EMPTY', 'EMPTY']
['Frieda', 'EMPTY', 'Deborah', 'Leah', 'EMPTY']
['EMPTY', 'Ruchama', 'Esther', 'EMPTY', 'EMPTY']
['Michelle', 'EMPTY', 'Sara', 'Kayla', 'Amy']

Empty Seat Count:  10